<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [options]="options" class="ion-margin-top">

    <ion-slide>
      <ion-card>
          <img src="assets/icon/logo.png" alt="">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
          <img src="assets/icon/logo.png" alt="">
      </ion-card>
   </ion-slide>

    <ion-slide>
      <ion-card>
          <img src="assets/icon/logo.png" alt="">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
        <ion-card>
            <img src="assets/icon/logo.png" alt="">
        </ion-card>
    </ion-slide>

  </ion-slides>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
