ion-button{
    --box-shadow: none;
    --boder-radius: 10px;
    --background: #ebeef4;
     height: 48px;
     font-size: 17px;
     color: #123681;
     margin-bottom: 1rem;
     text-transform: initial;

     ion-icon{
        margin-right: 0.5rem;
     }
}